.buttonContact {
    cursor: pointer;
    align-items: center;
    padding: 8px 10px;
    font-size: 15px;
    font-weight: 700;
    border: solid 1px white;
    border-radius: 21px;
    background-color: #087EA4;
    color: white;
    transition: .5s ease-in-out;
    z-index: 1;
}
.buttonContact:hover {
    border: solid 1px #087EA4;
    background-color: white;
    color: #087EA4;
    font-weight: 700;
}