.Translate {
    &__wrap {
        display: flex;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        width: 44px;
        padding: 4px 0px;
        font-size: 14px;
        font-weight: 600;
        border: none;
        background-color: transparent;
        color: #087EA4;
        cursor: pointer;
    }
    &__icon {
        width:20px;
    }
}
