.addBorder {
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 5px solid #f4f4f4;
    border-radius: 10px;
    padding: 5px;
    width: 550px;
    .addForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f4f4f4;
        padding: 15px 0 30px 0;
        .arrow {
            margin-top: 0.5em;
            margin-right: 29em;
            height: 16px;
            width: 16px;
        }
        .hidden {
            display: none;
        }
        .add-titles {
            font-size: 24px;
            color: #087EA4;
            font-weight: 600;
            margin-bottom: 14px;
            margin-top: 0;
        }
        .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .input-row {
            display: flex;
            gap: 10px;
        }
        .addLabel {
            font-size: 18px;
            margin-bottom: 5px;
            margin-top: 2px;
            font-weight:normal;
            color:rgba(84, 47, 21, 0.43);
        }
        .addInputDate {
            font-size: 13px;
            margin: 10px 0 15px 0;
            padding: 4px 0 4px 2px;
            border: 2px solid rgba(84, 47, 21, 0.43);
            border-radius: 5px;
            font-family: lato;
        }
        .addTextarea {
            font-size: 15px;
            width: 320px;
            height: 65px;
            font-family: lato;
        }
        .addInput {
            font-size: 16px;
        }
        .smallInput {
            font-size: 15px;
            margin: 10px 0 15px 0;
            padding: 5px 0 5px 2px;
            width: 120px;
            border: 2px solid rgba(84, 47, 21, 0.43);
            border-radius: 5px;
        }
        .linkInput {
            font-size: 15px;
            margin: 2px 0 15px 0;
            padding: 5px 0 5px 2px;
            border: 2px solid rgba(84, 47, 21, 0.43);
            border-radius: 5px;
            width: 130px;
        }
        .addInput, /*.addInputDate,*/ .addTextarea {
            margin: 10px 0 15px 0;
            padding: 10px;
            border: 2px solid rgba(84, 47, 21, 0.43);
            border-radius: 5px;
        }
        .file-input-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .file-input {
        display: none;
        }
        
        .file-input-label {
        display: inline-block;
        }
        
        .download-button {
        background-color: #087EA4;
        color: white;
        padding: 10px;
        margin-bottom: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        }
        .thumbnail-preview {
        margin-top: 10px;
        }
        
        .thumbnail-preview img {
        width: 50px;
        height: auto;
        border-radius: 5px;
        padding: 5px;
        }
        .button {
            display: flex;
            align-items: center;
            background-color: #087EA4;
            color: white;
            border: none;
            padding: 12px 21px;
            margin-top: 10px;
            cursor: pointer;
            border-radius: 10px;
            font-size: 17px;
            transition: background-color 0.3s;
        }
        .button:hover {
            background-color: #f4f4f4;
            color:#087EA4;
        }
        .iconSend {  
            width: 20px;
            height: 11px;
            transform: translate(40%, 2%);
            transition: transform 0.4s ease, opacity 0.3s ease;
            opacity: 1;
        }

        .button:hover .iconSend {
            transform: translateX(100%) translateY(5%);
            opacity: 0;
        }
        .messageSubmit {
            color:rgba(84, 47, 21, 0.43);
            font-size: 19px;
            text-align: center;
            font-weight: 600;
        }
    }

}

@media screen and (max-width: 580px) {
    .addBorder {
        width: 400px;
        .addForm {
            .arrow {
                margin-right: 22em;
            }
        }
    }
}
@media screen and (max-width: 425px) {
    .addBorder {
        width: 300px;
        .addForm {
            .arrow {
                margin-right: 16em;
            }
            .addLabel {
                font-size: 13px;
                margin-bottom: 5px;
            }
            .addTextarea {
                font-size: 15px;
                width: 250px;
                height: 65px;
                font-family: lato;
            }
            .download-button {
            padding: 7px;
            }
        }
    }
}